.CardItem {
  height: 60px;
  display: flex;
  flex-flow: column;
  justify-content: space-around; 
  margin-top: 2%;
  
  &__Text {
    margin: 0;
    padding: 0;
    color: #09222B;
    font-size: 10px;
  }
}
