.Sidebar {
  background-color: #164557;
  color: #FFFFFF;

  &__Menu {
    margin: 24px;
  }
  
  &__UnderLine {
    display: block;
    border:0.5px solid #FFFFFF;
  }

  &__MenuContainer {
    font-size: 14px;
  }
}
