.Sidebar {
  background-color: #164557;
  color: #ffffff;

  &__Menu {
    margin: 24px;
  }

  &__Title {
    margin-bottom: 8px;
  }

  &__UnderLine {
    display: block;
    border: rgb(255, 255, 255, 0.8) 1px solid;
  }

  &__MenuContainer {
    font-size: 14px;
    padding: 16px 0;
  }

  &__Text {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}
