.UserInfoBox {
  display: flex;
  width: 100%;
  height: 23px;

  &__Icon {
    border-radius: 50%;
  }

  &__Info {
    color: #09222B;
    margin-left: 5px;
  }

  &__Name {
    font-size: 10px;
  }

  &__Status {
    display: flex;
    font-size: 7px;
    
    & p {
      margin: 0;
    }
  }

  &__StatusIcon {
    color: #C3C3C3;
    font-size: 7px;

    &--Green {
      color: #6DDC46;
    }
  }

  &__StatusMessage {
    font-size: 7px;
  }

  &__Time {
    font-size: 6px;
  }
}