.UserInfoBox {
  display: flex;
  width: 300px;
  height: 40px;

  &__Icon {
    border-radius: 50%;
  }

  &__Info {
    color: #09222b;
    margin-left: 5px;
  }

  &__Status {
    display: flex;
    font-size: 12px;

    & p {
      margin: 0;
    }
  }

  &__StatusIcon {
    color: #c3c3c3;
    font-size: 12px;
    margin-right: 4px;

    &--Green {
      color: #6ddc46;
    }
  }

  &__StatusMessage {
    font-size: 12px;
    color: #6f6f6f;
  }

  &__Time {
    font-size: 14px;
    margin-left: 10px;
    color: #6f6f6f;
    line-height: 24px;
  }
}
