.Textarea {
  &__InputArea {
    position: relative;
    resize: none;
    width: 100%;
    height: 120px;
    padding: 16px;
    color: #09222b;
    border-radius: 5px;
    border: rgb(195, 195, 195, 0.8) 1px solid;
  }

  &__Button {
    position: absolute;
    right: 40px;
    bottom: 40px;
  }
}
