.Header {
  background-color: #09222b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;

  &__LogoutButton {
    margin-left: 10px;
  }

  &__FormMass {
    display: flex;
    justify-content: flex-end;

    & > * {
      margin-right: 10px;
    }
  }

  &__FormInput {
    width: 160px;
  }
}
