.Layout {
  &__Header {
    width: 100%;
    height: 50px;
  }

  &__Container {
    display: flex;
    height: calc(100vh - 50px);
  }

  &__Sidebar {
    width:  200px;
  }

  &__Main {
    width: 100%;
  }
}
