.FormButton {
  height: 32px;
  background-color: #164557;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #c3c3c3;
  padding: 0;
  cursor: pointer;

  &--Large {
    width: 720px;
  }

  &--Medium {
    width: 160px;
  }

  &--Small {
    width: 64px;
  }
}
