.FormInput {
  width: 100%;
  border-radius: 5px;
  padding: 0 8px;
  box-sizing: border-box;
  outline: none;

  &--Large {
    height: 40px;
  }

  &--Small {
    height: 32px;
  }

  &--Gray {
    border: 1px solid #c3c3c3;
    background-color: #53656b;
    color: #ffffff;
  }

  &--White {
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #164557;
  }
}
